* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  width: 100%;
  height: 100vh;
}

#div1 {
  color: white;
  font-size: 40px;
  position: relative;
  display: inline-block;
  margin: 0;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
  margin: 0;
  transition: .2s;
}

.active {
  background-color: white;
  color: black;
  width: 10%;
  height: 100%;
  margin: 0;
}

#div2 {
    font-size: 50px;
    color: #242424;
    top: 0;
    left: 0;
    opacity: 1;
}

.active2 {
  position: absolute;
}